.searchContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.25rem;
}

.searchButtons {
  display: flex;
  gap: 22px;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 420px);
  justify-content: center;
  padding: 0 4rem;
  gap: 2rem;
  margin: 12rem auto 0;
}

