.searchContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.25rem;
}

.searchButtons {
  display: flex;
  gap: 22px;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 4rem;
  gap: 2rem;
  margin-top: 12rem;

  @media (min-width: 1980px) {
    grid-template-columns: repeat(4, 1fr);
  }
  
  @media (max-width: 1420px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 980px) {
    grid-template-columns: 1fr;
    padding: 2rem 4rem;
  }
}

