.resetPasswordFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 5.875rem;
}

.title {
  color: #696F79;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.subtitle {
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}